.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color:blueviolet;
    
    
    
}
.buttons {
    background-color: rgb(247, 247, 247);
    border: none;
    padding: .7rem;
    margin: .3rem;
}
.buttons:hover {
    cursor: pointer;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 2%;
    box-shadow: 2px 2px, 10px black;
}